@media only screen and (max-width: 1366px) /* Monitory o mniejszej rozdzielczości */
{


    .animate
    {
        left: 60px;
    }

    #projects img
    {
        margin-left: 0px;
    }

    #projects i
    {
        margin: 160px 120px 250px 120px;
    }

    
}

@media only screen and (max-width: 740px) /* Samsung Galaxy S8+ */
{
    #websites
    {
        margin-top: 550px;
    }
    .header
    {
        display: none;
    }
    .content
    {
        font-size: 25px;
    }
    .footerx 
    {
        margin-top: 1300px;
        display: block;
    }
    .animate, #container {
        display: none;
    }
    #top, #websites, #projects, .footer, #contact, #experience, #faq, #header {
        opacity: 1;
    }
    #top
    {
        width: 300px;
        display: block;
    }
    .desc
    {
        float: right;
        max-width: 300px;
    }

    .servicesx
    {
        display: block;
        margin-top: 260px;
    }

    .blockx
    {
        font-size: 10px;
        height: 450px;
        width: 90%;
    }

    .block{
        font-size: 10px;
        height: 200px;
    }

    .block i
    {
      margin: 35px 25px 0px 25px;
      font-size: 20px;
    }

    #contact
    {
        height: 100px;
    }

    #experience
    {
        margin-top: 100px;
        padding-top: 0px;
        height: 600px;
    }

    .exp-right
    {
        display: none;
    }

    .exp-left
    {
        width: 100%;
    }
    
    .social
    {
      font-size: 14px;
    }

    .footer
    {
        display: block;
    }

    #faq
    {
        display: none;
    }

    #projects
    {
        display: none;
    }

}